services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Wazum\Sluggi\:
    resource: '../Classes/*'

  # DataHandler
  Wazum\Sluggi\DataHandler\ClearSlugForExcludedDoktypes:
    public: true

  Wazum\Sluggi\DataHandler\HandlePageCopy:
    public: true

  Wazum\Sluggi\DataHandler\HandlePageMove:
    public: true

  Wazum\Sluggi\DataHandler\HandlePageUpdate:
    public: true

  Wazum\Sluggi\DataHandler\HandleRecordUpdate:
    public: true

  Wazum\Sluggi\DataHandler\PreventLockedSlugEdit:
    public: true

  Wazum\Sluggi\DataHandler\ValidateHierarchyPermission:
    public: true

  Wazum\Sluggi\DataHandler\ValidateLastSegmentOnly:
    public: true

  # Form/Element
  Wazum\Sluggi\Form\Element\SlugElement:
    public: true

  Wazum\Sluggi\Form\Element\SlugSourceElement:
    public: true

  # Form/FormDataProvider
  Wazum\Sluggi\Form\FormDataProvider\HideSlugForExcludedPageTypes:
    public: true

  Wazum\Sluggi\Form\FormDataProvider\InitializeSyncField:
    public: true

  # Service
  Wazum\Sluggi\Service\FullPathEditingService:
    public: true

  Wazum\Sluggi\Service\HierarchyPermissionService:
    public: true

  Wazum\Sluggi\Service\LastSegmentValidationService:
    public: true

  Wazum\Sluggi\Service\SlugGeneratorService:
    public: true

  Wazum\Sluggi\Service\SlugSyncService:
    public: true

  # EventListener
  Wazum\Sluggi\EventListener\PreventSelfReferencingRedirect:
    tags:
      - name: event.listener
        identifier: 'sluggi/prevent-self-referencing-redirect'
        event: TYPO3\CMS\Redirects\Event\ModifyAutoCreateRedirectRecordBeforePersistingEvent
